/* Hiker's Guide CSS
================================================== 
================================================== */

html {
	font-size: 62.5%;
}
body {
	font: 1.4em/1.5 "Program OT", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #888888;
	background: #111111;
	position: relative;
}
h2 {
	text-transform: uppercase;
	font:  2.7em/1.5 "Program OT", Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #EEEEEE;
}
h3 {
	text-transform: uppercase;
	font: 1.6em/1.5 "Georgia", Arial, sans-serif;
	font-style: bold;
	font-weight: 500;
	color: #CCCCCC;
}
h4 {
	text-transform: uppercase;
	font: 1.0em/1.5 "Program OT", Arial, sans-serif;
	font-style: bold;
	font-weight: 700;
	color: #AAAAAA;
}
h5 {
	text-transform: uppercase;
	font: 1.0em/1.5 "Program OT", Arial, sans-serif;
	font-style: bold;
	font-weight: 700;
	color: #AAAAAA;
}
section {
 padding: 2rem;
 position: relative;
 bottom: 15rem;
}

.wrapper {
	padding: 3rem;
	position: relative;
}
.wrapper, header {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}
section::after, .wrapper::after, header::after {
	content:'';
	display: block;
	clear: both;
}
img {
	width: 100%;
}

/* Header ======================= */
header {
	position: relative;
	z-index: 2;
}
header h1 {
	float: left;

}
nav {
	float: right;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
nav li {
	display: inline-block;
}
nav a {
	display: block;
	padding: 1rem;
	border-right: 1px solid;
	border-color: white;
}
/* Locations ======================= */

#locations, #destinations, #eventhead, #information, #login{
	background: url('../images/hikers1001.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 60rem;
	width: 100%;
	top: -8em;
}
#locations .wrapper {
	position: relative;
	background: #222222;
	width: 50%;
	float: right;
	border-right: 1rem solid #1ABCAC;
	top: 10rem;
}
#locations h2 {
	border-top: .1rem solid #888888;
	border-bottom: .1rem solid #888888;
	padding:0rem;
}
#locations li {
	padding: 1rem;
}
#locations li:nth-of-type(1n+2) {
	display: none;
}
.pagination button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
/* Blog ======================= */

#blogs {
	background: #222222;
	position: relative;
	
}

#blogs .wrapper {
	padding-bottom: 0;
}
#blogs li {	
	width: calc(100%/3 - 3rem);
	height: 25rem;
	padding: 2rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	float: left;
	background: #111111;
	position: relative;
	top: -10rem;
}
#blog li:nth-of-type(3n+4) {
	clear: left;
}
#blog li:not(:nth-of-type(3n+3)) {
	margin-right: 3rem;
}
#blogs p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.readmore {
 	padding-right:10px;
 	padding-left:10px;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	background: #1ABC9C;
 	border-bottom: 5px solid #16A085;
 	text-transform: uppercase;
 	font-style: bold;
	font-weight: 700;
	color: #EEEEEE;

 }
 .loadmore {
  	border: .5rem solid #888888;
 	background: #222222;
 	text-align: center;
 	text-transform: uppercase;
 	font-style: bold;
	font-weight: 700;
	color: #888888;
 	display: block;
  	width:25%;
  	margin-right: auto;
  	margin-left: auto;
  	margin-bottom: auto;
  	margin-top: auto;

 
 }

/* Sign up ======================= */

#join {
	background: #16A085 url('../images/climbers.png') no-repeat right 25% bottom 25%;
	background-size: 60%;
	width: 100%;
	height: 30rem;
	padding:0;
	top: -15rem;
}
#join::before {
	content: "";
	display: block;
	
}
#join .wrapper {
	color: #EEEEEE;
}

#join .wrapper>p {
	font-style: italic;
}
.signup {
	padding: 1rem;
	background-color: #222222;
	border-top: 1rem solid #111111;
	text-align: center;
	width: 100%;
	position: relative;
	bottom: -9.5rem;
}
/* Extras ======================= */
#events, #hikers, #about {
	width: calc(100%/3);
	float: left;
}
#events li {
	padding: 1rem;
}
#events li p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.hikerpic {
	height: auto;
	width: 50px;
	display: inline-block;
	margin: 1rem;
}
#hikers p {
	display: block;

}




/* Destinations Page======================= */
#destinations>h2{
	position: relative;
	top: 5em;
}
#destinations li {
	width: calc(100%/3 - 3rem);
	height: 15rem;
	padding: 2rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	float: left;
	background: #222222;
	position: relative;
	top: 10rem;
}
#destinations li:nth-of-type(3n+4) {
	clear: left;
}
#destinations li:not(:nth-of-type(3n+3)) {
	margin-right: 3rem;
}
#destinations p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#destinations h2 {
	font-size: 1.4em;
}
/* Events Page======================= */
#eventhead h2, #eventhead p{
	text-align: center;
	position: relative;
	top: 10rem;
}
#eventhead p{

}
#eventSelection {
	top: -50rem;
}
#dateSelector li, #eventSelection h2{
	text-align: center;
}
#dateSelector li {
	display: inline-block;
	padding: 2rem;
	border: .1rem dashed white;
	margin-right: 3rem;
	margin-left: 3rem;
	border-radius: 25%;
}
#eventList {
	margin-top: 10rem;
	border: .1rem dashed white;
	border-radius: 10%;
}
/* Connect Page======================= */
#infoContent{
	top: 10rem;
	position: relative;
	display: inline-block;	
	float: left;
}
.form {
	clear: both;
	text-align: center;
	
}

/* Footer ======================= */

footer {
	background: #000000;
}
footer p, footer ul, footer li {
	display: inline-block;
}

footer>.social {
	float: right;
}



