/* Hiker's Guide CSS
================================================== 
================================================== */

html {
	font-size: 62.5%;
}
body {
	font: 1.4em/1.5 "Program OT", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #888888;
	background: #111111;
	position: relative;
	background: url('../images/hikers1001.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
}
h2 {
	text-transform: uppercase;
	font:  2.7em/1.5 "Program OT", Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #EEEEEE;
}
h3 {
	text-transform: uppercase;
	font: 1.6em/1.5 "Georgia", Arial, sans-serif;
	font-weight: 500;
	color: #CCCCCC;
}
h4 {
	text-transform: uppercase;
	font: 1.0em/1.5 "Program OT", Arial, sans-serif;
	font-weight: 700;
	color: #AAAAAA;
}
h5 {
	text-transform: uppercase;
	font: 1.0em/1.5 "Program OT", Arial, sans-serif;
	font-weight: 700;
	color: #AAAAAA;
}
section {
 padding: 2rem;
 position: relative;
}

.wrapper {
	padding: 3rem;
	position: relative;
}
.wrapper, header {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}
section::after, .wrapper::after, header::after {
	content:'';
	display: block;
	clear: both;
}
dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: center;
}
dt:after {
	content: ":";
}
dd {
	padding: 0 0 0.5em 0;
	width: 60%;
	margin-left: 0;
}
img {
	width: 100%;
}
label {
	float: left;
	clear: left;
	width: 100px;
	text-align: center;
}
label:after {
	content: ":";
}
input {
	border-radius: 30px;
}
/* Header ======================= */
header {
	position: relative;
	z-index: 2;
}
header h1 {
	float: left;
	width: 10%;
	margin-top: 2em;
}
nav img {
	width: 40%;
	top: 1rem;
	position: relative;
	padding-right: 1rem;
}
nav {
	float: right;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
nav li {
	display: inline-block;
}
nav a {
	display: block;
	padding: 1rem;
	border-right: 1px solid;
	border-color: white;
	text-transform: uppercase;
	font: 1.4em;
	color: #EEEEEE;
	font-weight: 700;
}
/* Locations ======================= */

#locations{
	min-height: 70vh;
	max-height: 100vh;
	width: 100%;
}
#locations .wrapper {
	position: relative;
	background: #222222;
	width: 25%;
	float: right;
	right: 10rem;
	border-right: 1rem solid #1ABCAC;
	top: 10rem;
}
#locations h2 {
	border-top: .1rem solid #888888;
	border-bottom: .1rem solid #888888;
	padding:0rem;
}
#locationslist li:nth-of-type(1n+2) {
	display: none;
}
.pagination {
	position: absolute;
	top: calc(50% + 2.5rem);
	right: 3.25rem;
}
.pagination button {
	position: relative;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	text-indent: -9999px;
	right: -11rem;
	top: -12rem;
	opacity: 0.5;
}
.pagination button:hover {
	opacity: 1.0;
}
#previous, #next {
	position: relative;
	top: calc(25% - 2.5rem);
	width: 4rem;
	height: 4rem;

}
#previous {
	right: 80rem;
	top: -15rem;
}
#next {
	left: 10rem;
	top: -28rem;
}
/* Blog ======================= */

#blogs {
	background: #222222;
	position: relative;
}

#blogs .wrapper {
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
}
#blogs li {	
	width: calc(100%/3 - 3rem);
	padding: 2rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	background: #111111;
	position: relative;
	top: -10rem;
	display: inline-grid;
	
}
.image {
	height: 15rem;
	overflow: hidden;
}
.image img {
	float: right;
    height: 20rem;
    width: auto;
    clear: both;
	 
}
#blogs p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.readmore {
 	padding-right:10px;
 	padding-left:10px;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	background: #1ABC9C;
 	border-bottom: 5px solid #16A085;
 	text-transform: uppercase;
	font-weight: 700;
	color: #EEEEEE;
 }
 .loadmore {
  	border: .5rem solid #888888;
 	background: #222222;
 	text-align: center;
 	text-transform: uppercase;
	font-weight: 700;
	color: #888888;
 	display: block;
  	width:25%;
  	margin-right: auto;
  	margin-left: auto;
  	margin-bottom: auto;
  	margin-top: auto;
 }

/* Sign up ======================= */

#join {
	background: #16A085 url('../images/climbers.png') no-repeat right 25% bottom 25%;
	background-size: 60%;
	width: 100%;
	height: 30rem;
	padding:0;
}
#join::before {
	content: "";
	display: block;
}
#join .wrapper {
	color: #EEEEEE;
}

#join .wrapper>p {
	font-style: italic;
}
.signup {
	padding: 1rem;
	background-color: #222222;
	border-top: 1rem solid #111111;
	text-align: center;
	width: 100%;
	position: relative;
	bottom: -9.5rem;
}
/* Extras ======================= */
#extras {
	background-color: #111111;
}
#events, #hikers, #about {
	width: calc(100%/3);
	float: left;
}
#events h3, #hikers h3, #about h3 {
	border-bottom: 1px #888888 solid;
}
#events li {
	padding: 1rem;
}
#events time {
	float: left;
	clear: both;
	padding: 1rem;
	background: white;
	width: 5rem;
	height: 6rem;
	margin-bottom: 1rem;
}
#events li p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#hikerslist>li {
	padding: 1rem 1rem 1rem 0;
	margin: 0 0 3rem 0;
}
#hikerslist h4 {
	padding-top: 2rem;
}
.hikerpic img {
	float: left;
	height: 6rem;
	width: 6rem;
	margin: 1rem;
}
#about p {
	padding: 1rem;
}

/* Destinations Page ======================= */
#destinations {
	height: 100vh;
}
#destinations>h2 {
	position: relative;
	top: 5em;
}
#destinations h2 {
	font-size: 1.4em;
}
#destinations li {
	width: calc(100%/3 - 3rem);
	height: 15rem;
	padding: 2rem;
	margin-right: 3rem;
	margin-bottom: 3rem;
	float: left;
	background: #222222;
	position: relative;
	top: 10rem;
}
#destinations li:nth-of-type(3n+4) {
	clear: left;
}
#destinations li:not(:nth-of-type(3n+3)) {
	margin-right: 3rem;
}
#destinations p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/* Events Page ======================= */
#eventSelection {
	width: 100%;
	margin: 0 auto;
}
#eventhead h2, #eventhead p {
	text-align: center;
}
#eventSelection h2 {
	text-align: center;
}
#dateSelector {
  	width: 100%;
  	margin-right: auto;
  	margin-left: auto;
}
#dateSelector li {
	display: inline-block;
	text-align: center;
	margin: 2em;
	padding: 2rem;
	border: .1rem dashed white;
	border-radius: 10%;
	background-color: grey;
}
#eventList {
	border: .1rem dashed white;
	background-color: black;
	opacity: .9;
	border-radius: 10%;
}
#eventList li {
	margin: 1rem;
	border-bottom: .1rem dashed white;
	top: 10em;
}
#eventList dd {
	width: 50%;
	margin-right: 0;
} 
#eventList h2 {
	padding: 1rem;
}
#eventList p {
	text-align: center;
}

#eventList button {
	width: 25%;
	float: right;
	clear: left;
	border-radius: 10px;
}

/* Connect Page======================= */
#information {
	height: 85vh;
	width: 100%;
	background-color: #CCCCCC;
	opacity: .90;
	display: flex;
	flex-wrap: wrap;
	padding: 10rem;
}
#info{
	width: 45rem;
	margin-right: 10rem;
}
#info p{
	margin-bottom: 1rem;
}
#contact{
	width: 30rem;
	min-width: 30rem;
}
#contact-form p{
	margin-bottom: 1rem; 
}
#contact-form input, #contact button{
	padding: .5rem;
}
#contact button{
	border-radius: 20px;
} 

#contact-form fieldset p input{
	display:block;
	width: 100%;
}

.label {
	display: none;
}
.error, .emailReg {
	width: 100%;
	text-align: left;
}
#infofooter {
	bottom: -30rem;
}
/* Login Page======================= */
#login {
	height: 90vh;
	width: 100%;
	background-color: #CCCCCC;
	opacity: .90;
	text-align: left;
}
#login-div {
	width: 50rem;
	margin: 0 auto;
	position: relative;
}
#login input {
	width: 40rem;
	height: 4rem;
	margin: .5rem;
	padding-left: 2rem;
}
#login button {
	border-radius: 30px;
	width: 10rem;
	height: 4rem;
}
#login a {
	position: relative;
	float: right;
	display: block;
	margin: 2em;
	color: #1ABCAC;
	text-decoration: underline;
}
/* Footer ======================= */
footer {
	background: #000000;
	height: 8rem;
}
footer p, footer ul, footer li {
	display: inline-block;
}
footer p {
	position: relative;
	top: 2em;
	margin-left: 4em;
}
.legal{
	position: relative;
	top: 2em;
}
.legal a{
	border-left: white 1px solid;
	padding: 1rem;
	text-transform: uppercase;
	font: 1.4em;
	color: #1ABC9C;
	font-weight: 400;
}
.social {
	position: relative;
	top: 2rem;
	margin-right: 4em;
	float: right;
}
.social li {
	opacity: 0.5;
}
.social li:hover {
	opacity: 1.0;
}



